/*############## READ ONLY  ##############*/
  * {
        box-sizing: border-box
      }
body {

    background-color: white;
    font-family: Verdana, Arial, sans-serif;
    box-sizing: border-box;
	margin: 0
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto 0; /* top left&right bottom */
}

.row {
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}

#menu-container {

}

.column {
    display: inline-block;
    width: 49%;
    min-height: 300px;
}

#result-container {
    position: relative;
}

#result {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 50% auto 0;
}

label {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.subrow {
    margin-top: 10px;
}

.result_row {
    width: 100%;
    height: 100%; /*You will need to change this property using JS*/
}

	
      .mySlides {
        display: none
      }
      img {
        vertical-align: middle;
      }
      .slideshow-container {
        max-width: 500px;
         position: relative;
        margin: auto;
      }
      




header {
    	display: block;
    	width: 100%;
    	padding: 1em;
   	overflow: auto;
	border-style: solid;
	background-color:#338c27;
	font-family: Semplicita, fantasy;
}

H1{
	Float:left;
	Width:40%;
	Color:white;
	Text-transform:uppercase;
}

.menu {
    float:right;
	width:60%;
 	background-color:white;
 	overflow: hidden;
}

.menu a {
float: left;
 	backgorund-color: #338c27;
  	text-align: center;
  	padding: 10px 30px;
	text-decoration: underline;
  	font-size: 20px;
	color: #338c27;
}

/* color of links on hover */
.menu a:hover {
  	background-color: #338c27;
  	color: white;
}

/* color of active link */
.menu a.active {
  	background-color: #C52F2A;
  	color: white;
}

.paragraph{

	
}

.footer {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: #338c27;
  	color: white;
  	text-align: center;
}
